@font-face {font-family: "Daimler CAC Regular";
  src: url("../fonts/CAC-Regular/DaimlerCAC-Regular.eot");
  src: url("../fonts/CAC-Regular/DaimlerCAC-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/CAC-Regular/DaimlerCAC-Regular.woff2") format("woff2"),
  url("../fonts/CAC-Regular/DaimlerCAC-Regular.woff") format("woff"),
  url("../fonts/CAC-Regular/DaimlerCAC-Regular.ttf") format("truetype")
}
@font-face {font-family: "Daimler CS Demi Regular";
  src: url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.eot"); /* IE9*/
  src: url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.woff") format("woff"), /* chrome、firefox */
  url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/@font-face2/0247593d358e149f1c8fd892b547ec86.svg#Daimler CS Demi Regular") format("svg"); /* iOS 4.1- */
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

$font1: 'Daimler CAC Regular';
$font2: 'Daimler CS Demi Regular';
$font3: 'Open Sans', sans-serif;

//colors
$beige:#efefef;
$blue:#00adef;
$light-blue:#44fff6;
$dark-gray:#3f3f3f;
$red: #e31d1a;

$bar-width: 40px;
$bar-height: 2px;
$bar-spacing: 8px;

//media queries
$laptop : 1439px;
$large :1199px;
$tablet :991px;
$mobile: 767px;
$small: 424px;

body{
  font-family:$font3;
  background: linear-gradient(#000, #1d1d1d);
  background-repeat: no-repeat;
  min-height: 100vh;
}
a{
  text-decoration: none !important;
  display: inline-block;
  transition: .3s;
}
img{
  max-width: 100%;
}
ul{
  margin:0;
  padding:0;
  li{
    list-style: none;
  }
}
.page-section{
  padding-top: 125px;
  padding-bottom: 50px;
  position: relative;
}
.lb-nav a.lb-next{
  background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/images/next.png) right 48% no-repeat;
}
.lb-nav a.lb-prev{
  background: url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/images/prev.png) left 48% no-repeat;
}
@media(min-width: 1470px){
  .container{
    max-width: 1440px;
  }

}