@import 'functions';

.admin-panel {
  background: white;
  .left-side {
    max-width: 350px;
    flex: 0 0 350px;
    padding: 10px 5px 10px 10px;
    height: 100vh;
  }
  .right-side {
    max-width: calc(100% - 350px);
    flex: 0 0 calc(100% - 350px);
    padding: 10px 10px 10px 5px;
    height: 100vh;
  }
}

.section-heading {
  font-size: 20px;
  font-weight: 600;
  color: $light-blue;
  border-bottom: 1px solid;
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.main-sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 0, 0, .35);
  position: relative;
  border-radius: 2px;
  background: linear-gradient(-35deg, black, #00adef);
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .25);
  }
  .top {
    .logo {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      box-shadow: 0 5px 10px white;
      background-color: rgba(0, 0, 0, .5);
      padding: 20px;
      text-align: center;
      height: 104px;
      img {
        filter: brightness(0) invert(1);
        max-width: 252px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .main-menu {
    height: calc(100% - 168px);
    padding: 10px 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      li {
        flex: 0 0 50%;
        padding: 10px;
        max-width: 100%;
        display: block;
        position: relative;
        a {
          padding: 5px;
          background-color: rgba(0, 0, 0, .5);
          border-radius: 3px;
          display: block;
          text-align: center;
          border: 1px solid white;
          color: white;

          img {
            filter: brightness(0) invert(1);
            max-width: 45px;
          }
          span {
            display: block;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
          }
          &:hover {
            background-color: rgba(0, 0, 0, .9);
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            border-color: $blue;
            color: $blue;
          }
        }
      }
    }
  }
  .bottom {
    .logo {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      box-shadow: 0 -5px 10px white;
      background-color: rgba(0, 0, 0, .5);
      padding: 10px;
      text-align: center;
      img {
        filter: brightness(0) invert(1);
        max-width: 151px;
      }

    }
  }
}

.dashboard-content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .35);
  border-radius: 2px;
  background: linear-gradient(135deg, black, $blue);
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-gray;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .55);
    margin-bottom: 15px;
    color: white;
    h2 {
      margin: 0;
      img {
        filter: brightness(0) invert(1);
        margin-right: 5px;
      }
    }
    i {
      margin-right: 5px;
    }
  }
}

.black-bg {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  margin: 20px 0;
  border: 1px solid rgba(255, 255, 255, .15);
}

.login {
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
  input {
    width: 100%;
    padding: 5px;
    background: linear-gradient(to bottom, #e2e1e1, #bcbcbc);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    color: black;
    &:focus {
      outline-color: $blue;
    }
  }
  .btn-one {
    padding: 10px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: .3s;
    width: auto;
    margin: 0 5px;
    &:hover {
      color: $blue;
      border-color: $blue !important;
    }
  }
}

.form-one {
  padding: 20px 15px;
  .form-group {
    margin: 0;
    padding: 15px 0;
    label {
      color: white;
      font-weight: 600;
      padding: 0 5px;
    }
    .style-one {
      width: 100%;
      padding: 5px;
      background: linear-gradient(to bottom, #e2e1e1, #bcbcbc);
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      color: black;
      &:focus {
        outline-color: $blue;
      }
    }
  }
}

.btn-one {
  padding: 5px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: .3s;
  width: auto;
  margin: 5px;
  &:hover {
    color: $blue !important;
    border-color: $blue !important;
  }
  &.accept-btn {
    color: lime;
    border-color: lime;
  }
  &.reject-btn, &.delete-btn {
    color: red;
    border-color: red;
  }
  &.edit-btn {
    color: yellow;
    border-color: yellow;
  }
  &.info-btn {
    color: blue;
    border-color: blue;
  }
}

.wellcome-text {
  padding: 10px 5px;
  color: White;
  text-align: center;
  h3 {
    margin: 0;
  }
}

.table-one {
  color: White;
  padding: 15px;
  td {
    img {
      max-width: 200px;
    }
  }
}

.datatable, .table {
  border: none;
  td, th {
    vertical-align: middle;
  }
  thead {
    background: rgba(255, 255, 255, .95);
    th {
      border: none;
      border-right: 1px solid;
      &:last-of-type {
        border-right: 0;
      }
    }
  }
  tbody {
    tr {
      td {
        color: white;
        font-size: 14px;
        form {
          display: inline-block
        }
      }
    }
  }

}

.dataTables_wrapper {
  .page-item .page-link {
    border-radius: 0;
  }
  .page-item.active .page-link {
    background: $light-blue;
    border: 1px solid $light-blue;
    color: black;
    font-weight: 600;
  }
  div.dataTables_filter input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
  }
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 15px white;
  .modal-header {
    color: $light-blue;
  }
  .modal-body {

    .form-one {
      padding: 10px;
    }
    .info-group {
      padding: 10px;
      .tag {
        font-weight: 600;
        color: white;
      }
      .data {
        color: $light-blue;
        font-size: 14px;
      }
    }
  }
  .btn {
    border-radius: 0;
  }
  .btn-primary {
    color: white;
    background: $blue;
    border-color: $blue;
    &:hover {
      background: rgba(0, 0, 0, .5);
      color: $blue;
    }
  }
  .btn-secondary {
    &:hover {
      background: rgba(0, 0, 0, .5);
      color: white;
      border-color: white
    }
  }
}

.service-panel {
  .page-buttons {
    padding: 10px;
    ul {
      li {
        display: inline-block;
      }
    }
  }
}

.ui-datepicker {
  border-radius: 0;
  background: rgba(0, 0, 0, .9);
  border-color: white;
  th {
    color: white;
  }
  .ui-datepicker-header {
    border-radius: 2px;
    background: $blue;
    color: white;
    .ui-icon {
      filter: brightness(0) invert(1);
    }
    a:hover {
      .ui-icon {
        filter: none;
      }
    }
  }
  .ui-datepicker-today {
    a {
      background: $red;
      color: White;
      border-color: white;
    }
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #4c4c4c;
    color: white;
  }
  .ui-state-active {
    background: $blue;
  }
}

.images-container::after {
  display: block;
  clear: both;
  content: "";
}

.images-container .image-container {
  float: left;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 35px;
  position: relative;
  border: 1px solid #e6eaee;
  overflow: hidden;
}

.images-container .image-container.active {
  border-color: #52BCD3;
}

.images-container .image-container:hover .controls {
  bottom: 0;
  opacity: 1;
}

.images-container .controls {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: -35px;
  text-align: center;
  height: 35px;
  font-size: 24px;
  -webkit-transition: bottom 0.2s ease, opacity 0.2s ease;
  transition: bottom 0.2s ease, opacity 0.2s ease;
  background-color: #fff;
}

.images-container .controls::after {
  display: block;
  clear: both;
  content: "";
}

.images-container .progress-y {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  bottom: 0;
  text-align: center;
  height: 20px;
  font-size: 24px;
  -webkit-transition: bottom 0.2s ease, opacity 0.2s ease;
  transition: bottom 0.2s ease, opacity 0.2s ease;
  background-color: #fff;
}

.images-container .progress-y::after {
  display: block;
  clear: both;
  content: "";
}

.images-container .controls .control-btn {
  display: inline-block;
  color: #4f5f6f;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.images-container .controls .control-btn:hover {
  opacity: 1;
}

.images-container .controls .control-btn.move {
  cursor: move;
}

.images-container .controls .control-btn.star {
  color: #FFB300;
}

.images-container .controls .control-btn.star i:before {
  content: "\f006";
}

.images-container .controls .control-btn.star.active i:before {
  content: "\f005";
}

.images-container .controls .control-btn.remove {
  color: #FF4444;
}

.images-container .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 135px;
  line-height: 135px;
  text-align: center;
}

.images-container .image-container.main {
  border-color: #FFB300;
}

.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #52BCD3 solid;
  color: #52BCD3;
}

.images-container .image-container.new .image {
  font-size: 2.5rem;
}

.images-container .image-container.new:hover {
  opacity: 1;
}
.nav-tabs{
  margin: 30px 0 15px 0;
  li{
    a{
      color:$light-blue;
      &.active{
        border-radius: 0;
      }
      &:hover{
        border-radius: 0;
      }
    }
  }
}

.cropper-container {
    margin: 20px auto;
    max-width: 640px;

    img {
        max-width: 100%;
    }
}

#exam-datatable_wrapper {
    .dt-buttons {
        float: left;
    }
}
